In [7]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [10]:
# I am in the Resources directory so move up one directory
engine = create_engine("sqlite:///../hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [11]:
# Create our session (link) from Python to the DB
session = Session(engine)

## Summary Observation #3 Query

In [18]:
# Import the sqlalchemy extract function.
from sqlalchemy import extract
import calendar

# Write a for-loop that queries the Measurement table to recieve temperaturedata for each month
for month in range(1,13):
    results = session.query(Measurement.tobs)\
        .filter(extract('month',Measurement.date) == month).all()

    df = pd.DataFrame(list(np.ravel(results)), columns = [f'{calendar.month_name[month]} Temps'])
    print(df.describe(),'\n')

       January Temps
count    1727.000000
mean       68.726115
std         4.367892
min        54.000000
25%        66.000000
50%        69.000000
75%        72.000000
max        81.000000

       February Temps
count     1610.000000
mean        69.442236
std          3.981399
min         56.000000
25%         67.000000
50%         70.000000
75%         72.000000
max         83.000000

       March Temps
count  1693.000000
mean     70.059067
std       3.845271
min      56.000000
25%      68.000000
50%      70.000000
75%      73.000000
max      82.000000

       April Temps
count  1713.000000
mean     72.357268
std       3.632131
min      53.000000
25%      70.000000
50%      73.000000
75%      75.000000
max      84.000000

         May Temps
count  1733.000000
mean     73.680900
std       3.355783
min      63.000000
25%      71.000000
50%      74.000000
75%      76.000000
max      87.000000

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

        July Temps
count  1711.000000
mean     76.082408
std       3.356532
min      61.000000
25%      74.000000
50%      76.000000
75%      78.000000
max      87.000000

       August Temps
count   1622.000000
mean      76.412454
std        3.453138
min       65.000000
25%       74.000000
50%       76.000000
75%       79.000000
max       87.000000

       September Temps
count      1480.000000
mean         76.164865
std           3.535178
min          64.000000
25%          74.000000
50%          76.000000
75%          79.000000
max          87.000000

       October Temps
count    1556.000000
mean       75.391388
std         3.545084
min        64.000000
25%        73.000000
50%        76.000000
75%        78.000000
max        86.000000

       November Temps
count     1488.000000
mean        73.252688
std          3.617282
min         61.000000
25%         71.000000
50%         74.000000
75%         76.000000
max         83.000000

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000